* {
  padding: 0;
  margin: 0;
}
body {
}
#header {
  width: 1000px;
  height: 70px;
  margin: 0 auto;
}
.logo {
  width: 270px;
  height: 70px;
  float: left;
}
.logo img {
  display: block;
  padding: 15px 0;
}
.nav {
  width: 400px;
  height: 70px;
  margin-left: 100px;
  float: left;
}
.nav ul {
  width: 400px;
  height: 70px;
  float: left;
}
.nav ul li {
  height: 70px;
  list-style: none;
  margin: 0 25px;
  float: left;
}
.nav ul li:hover {
  
}
.nav ul li a {
  display:block;
  height: 68px;
  line-height: 68px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: #000;
}
.nav ul li a:hover {
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
}
.list {
  width: 120px;
  height: 30px;
  float: left;
}
.list-fg {
  color: #000;
  font-size: 10px;
  line-height: 30px;
  float: left;
}
.list a {
  float: left;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  color: #000;
  font-size: 10px;
  text-decoration: none;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
}
.containar{
    margin: 0 auto;
    width: 1000px;
    height: 2200px;
    background-color: #fff;
}
.navtag{
    width: 1000px;
    height: 60px;
}
.navtag ul{
    width: 700px;
    height: 60px;
    float: left;
}
.navtag ul li{
    float: left;
    list-style:none;
    line-height: 60px;
    color: #000;
    font-size: 16px;
    margin: 0 20px;
}
.navtag ul li:hover{
    border-bottom: 2px solid #ff6600; 
}
.navtag form{
    width: 300px;
    height: 60px;
    float: right;
    position: relative;
}
.pannal{
    width: 260px;
    height: 28px;
    margin: 11px 0;
    padding-left: 10px;
    outline: none;
    font-size: 16px;
    color: #000;
    border: 1px solid #000;
}
.btn{
    width: 37px;
    height: 30px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    border: 0;
    position: absolute;
    right: 10px;
    top: 11px;
    outline: none;
    cursor: pointer;
}
.item1{
    width: 1000px;
    height: 300px;
    border-bottom: 1px solid #ccc;
}
.item1 h1{
  width: 100px;
  height: 30px;
  color: #000;
  font-size: 16px;
  line-height: 30px;
  margin: 10px 15px;
}.item1 ul{
  width: 1000px;
}
.item1 ul li{
  list-style: none;
  width: 70px;
  float: left;
  margin: 10px 20px;
}
.item1 ul li img{
  width: 70px;
  height: 70px;
}
.item1 ul li a{
  text-decoration: none;
  width: 70px;
  height: 20px;
  display: block;
  font-size: 12px;
  color: #000;
  line-height: 20px;
  text-align: center;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item2{
  width: 1000px;
  height: 680px;
  border-bottom: 1px solid #ccc;
}
.item2 h1{
width: 100px;
height: 30px;
color: #000;
font-size: 16px;
line-height: 30px;
margin: 10px 15px;
}.item2 ul{
width: 1000px;
}
.item2 ul li{
list-style: none;
width: 70px;
float: left;
margin: 10px 20px;
}
.item2 ul li img{
width: 70px;
height: 70px;
}
.item2 ul li a{
text-decoration: none;
width: 70px;
height: 20px;
display: block;
font-size: 12px;
color: #000;
line-height: 20px;
text-align: center;
margin: 5px 0;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.item3{
  width: 1000px;
  height: 180px;
  border-bottom: 1px solid #ccc;
}
.item3 h1{
width: 100px;
height: 30px;
color: #000;
font-size: 16px;
line-height: 30px;
margin: 10px 15px;
}.item3 ul{
width: 1000px;
}
.item3 ul li{
list-style: none;
width: 70px;
float: left;
margin: 10px 20px;
}
.item3 ul li img{
width: 70px;
height: 70px;
}
.item3 ul li a{
text-decoration: none;
width: 70px;
height: 20px;
display: block;
font-size: 12px;
color: #000;
line-height: 20px;
text-align: center;
margin: 5px 0;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.item4{
  width: 1000px;
  height: 180px;
  border-bottom: 1px solid #ccc;
}
.item4 h1{
width: 100px;
height: 30px;
color: #000;
font-size: 16px;
line-height: 30px;
margin: 10px 15px;
}.item4 ul{
width: 1000px;
}
.item4 ul li{
list-style: none;
width: 70px;
float: left;
margin: 10px 20px;
}
.item4 ul li img{
width: 70px;
height: 70px;
}
.item4 ul li a{
text-decoration: none;
width: 70px;
height: 20px;
display: block;
font-size: 12px;
color: #000;
line-height: 20px;
text-align: center;
margin: 5px 0;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.item5{
  width: 1000px;
  height: 180px;
  border-bottom: 1px solid #ccc;
}
.item5 h1{
width: 100px;
height: 30px;
color: #000;
font-size: 16px;
line-height: 30px;
margin: 10px 15px;
}.item5 ul{
width: 1000px;
}
.item5 ul li{
list-style: none;
width: 70px;
float: left;
margin: 10px 20px;
}
.item5 ul li img{
width: 70px;
height: 70px;
}
.item5 ul li a{
text-decoration: none;
width: 70px;
height: 20px;
display: block;
font-size: 12px;
color: #000;
line-height: 20px;
text-align: center;
margin: 5px 0;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.item6{
  width: 1000px;
  height: 550px;
}
.item6 h1{
width: 100px;
height: 30px;
color: #000;
font-size: 16px;
line-height: 30px;
margin: 10px 15px;
}.item6 ul{
width: 1000px;
}
.item6 ul li{
list-style: none;
width: 70px;
float: left;
margin: 10px 20px;
}
.item6 ul li img{
width: 70px;
height: 70px;
}
.item6 ul li a{
text-decoration: none;
width: 70px;
height: 20px;
display: block;
font-size: 12px;
color: #000;
line-height: 20px;
text-align: center;
margin: 5px 0;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
#footer {
  width: 100%;
  height: 135px;
  background-color: #333333;
}
.foot-desc {
  width: 100%;
  height: 45px;
  padding: 45px 0;
  color: gray;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
}

