<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <!-- class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>锐度官网--公司产品</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/commom.css">
    <link rel="stylesheet" href="stylesheets/goodsdetail.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="container">
        <div class="header">
            <div class="header-con">
                <a href="javascript:;" class="logo">
                    <img src="images/rd-logo.png" alt="锐度LOGO" />
                </a>
                <ul id="listUl">
                    <li><a href="/">首页</a></li>
                    <li class="point" id="cpdq">
                        <a href="/goods">全系列产品</a>
                        <div class="subnav" id="subnav">
                            <div class="subnav-con">
                                <a href="javascript:;" id="left"></a>
                                <div class="navbox" id="navbox">
                                    <div class="nav-scroll" id="nav-scroll" style="left:-900px;">
                                        <a href="javascript:;"><img src="images/cpimg7.png"
                                                alt="" /><span>沙棘系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg8.png"
                                                alt="" /><span>毛孔清透系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg9.png"
                                                alt="" /><span>3+系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg10.png"
                                                alt="" /><span>高机能系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg11.png"
                                                alt="" /><span>水源系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg12.png"
                                                alt="" /><span>其他</span></a>
                                        <a href="javascript:;"><img src="images/cpimg1.png" alt="" /><span>RD
                                                Sport微盐系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg2.png"
                                                alt="" /><span>蓝藻系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg3.png"
                                                alt="" /><span>户外系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg4.png"
                                                alt="" /><span>黑钻系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg5.png"
                                                alt="" /><span>彩泥洁面系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg6.png"
                                                alt="" /><span>精油舒活系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg7.png"
                                                alt="" /><span>沙棘系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg8.png"
                                                alt="" /><span>毛孔清透系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg9.png"
                                                alt="" /><span>3+系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg10.png"
                                                alt="" /><span>高机能系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg11.png"
                                                alt="" /><span>水源系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg12.png"
                                                alt="" /><span>其他</span></a>
                                        <a href="javascript:;"><img src="images/cpimg1.png" alt="" /><span>RD
                                                Sport微盐系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg2.png"
                                                alt="" /><span>蓝藻系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg3.png"
                                                alt="" /><span>户外系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg4.png"
                                                alt="" /><span>黑钻系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg5.png"
                                                alt="" /><span>彩泥洁面系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg6.png"
                                                alt="" /><span>精油舒活系列</span></a>
                                    </div>
                                </div>
                                <a href="javascript:;" id="right"></a>
                            </div>
                        </div>
                    </li>
                    <li><a href="/brand">品牌介绍</a></li>
                    <li><a href="/news">公司新闻</a></li>
                    <li id="shop">
                        <a href="javascript:;">在线商城</a>
                        <div class="shop-list" id="shop-list">
                            <i class="shop-icon"></i>
                            <a href="javascript:;">天猫店</a>
                            <a href="javascript:;">京东店</a>
                        </div>
                    </li>
                    <li><a href="/about">联系我们</a></li>
                </ul>
                <div class="wxcode" id="wxcode">
                    <img src="images/rd-wxcode.png" alt="微信二维码" />
                    <div class="code" id="code">
                        <img src="images/wxcodepic.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-con">
                <div class="goods-link">
                    <a href="/" class="home">首页</a>
                    <span>></span>
                    <a href="/goods" class="goods">全系列产品</a>
                    <span>></span>
                    <a href="/goodslist?id=<%-dt1[0].gid%>" class="goods"><%-dt2[0].gdl %></a>
                    <span>></span>
                    <a href="/goodsdetail?id=<%-dt[0].id%>" class="goods"><%-dt[0].gdt %></a>
                </div>
                <div class="goods-left">
                    <div class="goods-leftp">
                        <img src="uploads/upload3/<%-dt1[0].gpic %>" alt="" />
                    </div>
                </div>
                <div class="goods-right">
                    <h1><%-dt[0].gdt %></h1>
                    <h2><%-dt[0].gdd %></h2>
                    <div class="goods-desc">
                        <p><span class="tdesc">品牌：</span><span class="cdesc"><%-dt[0].gdp %></span></p>
                        <p><span class="tdesc">规格：</span><span class="cdesc"><%-dt[0].gdg %></span></p>
                        <p><span class="tdesc">保持期：</span><span class="cdesc"><%-dt[0].gdte %></span></p>
                        <p><span class="tdesc">产地：</span><span class="cdesc"><%-dt[0].gdc %></span></p>
                        <p><span class="tdesc">合适肤质：</span><span class="cdesc"><%-dt[0].gdf %></span></p>
                        <p><span class="tdesc">功效解析：</span><span class="cdesc"><%-dt[0].gdj %></span></p>
                        <p><span class="tdesc">国妆特字：</span><span class="cdesc"><%-dt[0].gdz %></span></p>
                    </div>
                    <a href="">立即购买</a>
                </div>
            </div>
            <%for( var i =0; i<dt3.length;i++) {
                %>
                <div class="goods-pic">
                    <img src="uploads/upload4/<%-dt3[i].gdetapic %>" alt="">
                </div>
            <% } %>
        </div>
        <div class="footer">
            <div class="footer-con">
                <ul>
                    <li class="yk">
                        <a href="javascript:;"><img src="images/yk.png" alt="" /></a>
                        <span><i>锐度男士</i><br>优酷视频中心</span>
                    </li>
                    <li class="sina">
                        <a href="javascript:;"><img src="images/sina.png" alt="" /></a>
                        <span><i>锐度男士</i><br>官方微博</span>
                    </li>
                    <li class="wx">
                        <a href="javascript:;"><img src="images/wx.png" alt="" /></a>
                        <span><i>锐度男士</i><br>官方微信</span>
                    </li>
                    <li class="erwm">
                        <a href="javascript:;"><img src="images/code.png" alt="" /></a>
                        <span><i>关注锐度运动</i><br>做对身材有要求的男人</span>
                    </li>
                    <li class="subnews">
                        <a href="javascript:;">1、锐度联手微盟打造微商第一男士护肤品牌</a>
                        <a href="javascript:;" style="margin-top: 0;">2、锐度——锐跑公益跑团 时尚 Fun Run</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom">
                <div class="bottom-con">
                    <a href="javascript:;">
                        <img src="images/icon.gif" alt="">
                    </a>
                    <div class="bottom-copy">© 2015 锐度男士护肤品 <a href="javascript:;">沪ICP备15024497号-1</a></div>
                </div>
            </div>
    </div>
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/commom.js"></script>
    <script src="" async defer></script>
</body>

</html>