<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <!-- class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>锐度官网--公司产品</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/commom.css">
    <link rel="stylesheet" href="stylesheets/goodslist.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="container">
        <div class="header">
            <div class="header-con">
                <a href="javascript:;" class="logo">
                    <img src="images/rd-logo.png" alt="锐度LOGO" />
                </a>
                <ul id="listUl">
                    <li><a href="/">首页</a></li>
                    <li class="point" id="cpdq">
                        <a href="/goods">全系列产品</a>
                        <div class="subnav" id="subnav">
                            <div class="subnav-con">
                                <a href="javascript:;" id="left"></a>
                                <div class="navbox" id="navbox">
                                    <div class="nav-scroll" id="nav-scroll" style="left:-900px;">
                                        <a href="javascript:;"><img src="images/cpimg7.png"
                                                alt="" /><span>沙棘系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg8.png"
                                                alt="" /><span>毛孔清透系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg9.png"
                                                alt="" /><span>3+系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg10.png"
                                                alt="" /><span>高机能系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg11.png"
                                                alt="" /><span>水源系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg12.png"
                                                alt="" /><span>其他</span></a>
                                        <a href="javascript:;"><img src="images/cpimg1.png" alt="" /><span>RD
                                                Sport微盐系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg2.png"
                                                alt="" /><span>蓝藻系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg3.png"
                                                alt="" /><span>户外系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg4.png"
                                                alt="" /><span>黑钻系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg5.png"
                                                alt="" /><span>彩泥洁面系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg6.png"
                                                alt="" /><span>精油舒活系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg7.png"
                                                alt="" /><span>沙棘系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg8.png"
                                                alt="" /><span>毛孔清透系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg9.png"
                                                alt="" /><span>3+系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg10.png"
                                                alt="" /><span>高机能系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg11.png"
                                                alt="" /><span>水源系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg12.png"
                                                alt="" /><span>其他</span></a>
                                        <a href="javascript:;"><img src="images/cpimg1.png" alt="" /><span>RD
                                                Sport微盐系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg2.png"
                                                alt="" /><span>蓝藻系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg3.png"
                                                alt="" /><span>户外系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg4.png"
                                                alt="" /><span>黑钻系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg5.png"
                                                alt="" /><span>彩泥洁面系列</span></a>
                                        <a href="javascript:;"><img src="images/cpimg6.png"
                                                alt="" /><span>精油舒活系列</span></a>
                                    </div>
                                </div>
                                <a href="javascript:;" id="right"></a>
                            </div>
                        </div>
                    </li>
                    <li><a href="/brand">品牌介绍</a></li>
                    <li><a href="/news">公司新闻</a></li>
                    <li id="shop">
                        <a href="javascript:;">在线商城</a>
                        <div class="shop-list" id="shop-list">
                            <i class="shop-icon"></i>
                            <a href="javascript:;">天猫店</a>
                            <a href="javascript:;">京东店</a>
                        </div>
                    </li>
                    <li><a href="/about">联系我们</a></li>
                </ul>
                <div class="wxcode" id="wxcode">
                    <img src="images/rd-wxcode.png" alt="微信二维码" />
                    <div class="code" id="code">
                        <img src="images/wxcodepic.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-con">
                <div class="goods-link">
                    <a href="/" class="home">首页</a>
                    <span>></span>
                    <a href="/goods" class="goods">全系列产品</a>
                    <span>></span>
                    <a href="/goodslist?id=<%-dt6[0].id%>" class="goods"><%-dt6[0].xqtle %></a>
                </div>
                <div class="goods-left">
                    <ul>
                        <li class="goodsactive">
                            <a href="javascript:;" class="sublist"><i></i>按需求分类</a>
                            <div class="goods-list" id="goods-list1">
                                <%for( var i =0; i<dt1.length;i++) {
                                    if(cur1 == i+1){
                                    %>
                                    <a class="aa" href="/goodslist?id=<%-dt1[i].id%>"><%-dt1[i].xqtle %></a>

                                   <% }else{
                                       %>
                                    <a href="/goodslist?id=<%-dt1[i].id%>"><%-dt1[i].xqtle %></a>

                                 <%  }
                                 } %>
                                
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;" class="sublist"><i></i>按护肤步骤分类</a>
                            <div class="goods-list" id="goods-list2">
                                <%for( var i =0; i<(dt2.length);i++) {
                                    if(cur2 == i+1){
                                        %>
                                        <a class="aa" href="/goodslist?id=<%-dt2[i].id%>"><%-dt2[i].xqtle %></a>
    
                                       <% }else{
                                           %>
                                        <a href="/goodslist?id=<%-dt2[i].id%>"><%-dt2[i].xqtle %></a>
                                     <%  }
                                     } %>
                                
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;" class="sublist"><i></i>按产品系列分类</a>
                            <div class="goods-list" id="goods-list3">
                                <%for( var i =0; i<dt3.length;i++) {
                                    if(cur3 == i+1){
                                        %>
                                        <a class="aa" href="/goodslist?id=<%-dt3[i].id%>"><%-dt3[i].xqtle %></a>
    
                                       <% }else{
                                           %>
                                        <a href="/goodslist?id=<%-dt3[i].id%>"><%-dt3[i].xqtle %></a>

                                     <%  }
                                     } %>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="goods-right">
                    <div class="main-lbbox" id="bannar">
                        <div id="lbbox" class="lbbox">
                            <ul>
                                <%for( var i =0; i<dt.length;i++) {
                                    %>
                                <li><a href="javascript:;"><img src="uploads/<%-dt[i].pic %>" alt="1"></a>
                                        </li>
                                <% } %>
                            </ul>
                        </div>
                        <div id="lbbtn" class="lbbtn">
                            <span index="1" class="lbactive"></span>
                            <span index="2"></span>
                            <span index="3"></span>
                        </div>
                    </div>
                    <div class="product-list">
                        <ul>
                            <%for( var i =0; i<dt4.length;i++) {
                            %>
                            <li><a href="/goodsdetail?id=<%-dt4[i].id %>">
                                <div class="pro-pic">
                                    <img src="uploads/upload3/<%-dt4[i].gpic %>">
                                </div>
                                <div class="pro-con">
                                    <span><%-dt4[i].gtitle %></span>
                                    <p><%-dt4[i].gdesc %></p>
                                    <b class="pro-btn">查看详情</b>
                                </div>
                            </a></li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="ctrl">
                        <ul>
                                <%if(cur==0){
                                %>
                                    <a href="/goodslist?page=<%=cur%>&&id=<%-dt4[0].gid%>">上一页</a>
                                <%}else{%>
                                    <a href="/goodslist?page=<%=cur-1%>&&id=<%-dt4[0].gid%>">上一页</a>
                                <%}
                                for( var i=0; i<total; i++){
                                    if(cur==i){
                                %>
                                <li class="pactive"><a href="/goodslist?page=<%=i%>&&id=<%-dt4[0].gid%>"><%=i+1 %></a></li>
                                <%
                                    }else{
                                %>
                                <li><a href="/goodslist?page=<%=i%>&&id=<%-dt4[0].gid%>"><%=i+1 %></a></li>
                                <%
                                    }
                                }
                                if(cur==total-1){
                                %>
                                    <a href="/goodslist?page=<%=cur%>&&id=<%-dt4[0].gid%>">下一页</a>
                                <%
                                }else{
                                %>
                                    <a href="/goodslist?page=<%=Number(cur) + 1%>&&id=<%-dt4[0].gid%>">下一页</a>
                                <%
                                }
                                %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-con">
                <ul>
                    <li class="yk">
                        <a href="javascript:;"><img src="images/yk.png" alt="" /></a>
                        <span><i>锐度男士</i><br>优酷视频中心</span>
                    </li>
                    <li class="sina">
                        <a href="javascript:;"><img src="images/sina.png" alt="" /></a>
                        <span><i>锐度男士</i><br>官方微博</span>
                    </li>
                    <li class="wx">
                        <a href="javascript:;"><img src="images/wx.png" alt="" /></a>
                        <span><i>锐度男士</i><br>官方微信</span>
                    </li>
                    <li class="erwm">
                        <a href="javascript:;"><img src="images/code.png" alt="" /></a>
                        <span><i>关注锐度运动</i><br>做对身材有要求的男人</span>
                    </li>
                    <li class="subnews">
                        <a href="javascript:;">1、锐度联手微盟打造微商第一男士护肤品牌</a>
                        <a href="javascript:;" style="margin-top: 0;">2、锐度——锐跑公益跑团 时尚 Fun Run</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom">
                <div class="bottom-con">
                    <a href="javascript:;">
                        <img src="images/icon.gif" alt="">
                    </a>
                    <div class="bottom-copy">© 2015 锐度男士护肤品 <a href="javascript:;">沪ICP备15024497号-1</a></div>
                </div>
            </div>
    </div>
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/commom.js"></script>
    <script src="javascripts/goodslist.js" async defer></script>
</body>

</html>