* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
}
#top {
  width: 100%;
  height: 35px;
  background-color: rgba(5, 5, 78, 0.5);
  position: fixed;
}
#top .top-con {
  width: 1000px;
  height: 35px;
  margin: 0 auto;
  position: relative;
}
.top-con p {
  display: block;
  width: 160px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #8cb5e3;
  float: left;
}
.top-left {
  width: 25px;
  height: 20px;
  position: absolute;
  right: 110px;
  top: 8px;
  background-image: url(../images/wechat.png);
  background-repeat: no-repeat;
}
.top-right {
  float: right;
  width: 100px;
  height: 35px;
}
.top-right a {
  float: left;
  width: 45px;
  height: 35px;
  display: block;
  text-align: center;
  line-height: 35px;
  color: #8cb5e3;
  font-size: 14px;
  text-decoration: none;
}
.top-fg {
  width: 10px;
  height: 35px;
  color: #8cb5e3;
  font-size: 14px;
  float: left;
  text-align: center;
  line-height: 35px;
}
.roll {
  width: 280px;
  height: 35px;
  line-height: 35px;
  color: #8cb5e3;
  font-size: 14px;
  float: left;
  margin-left: 10px;
}
#header {
  width: 1000px;
  height: 108px;
  margin: 0 auto;
  padding-top: 40px;
}
#header img {
  width: 420px;
  height: 108px;
}
.containar {
  width: 380px;
  height: 33px;
  margin-top: 37px;
  float: right;
}
.search-con {
  width: 291px;
  height: 33px;
  float: left;
  border: 1px solid #183b65;
}
.select {
  width: 60px;
  height: 33px;
  background-color: #4e76a9;
  line-height: 33px;
  padding-left: 10px;
  color: #cccccc;
  font-size: 14px;
  float: left;
}
.search {
  width: 220px;
  height: 33px;
  margin-left: 1px;
  float: left;
  background-color: #4e76a9;
}
.search-icon {
  width: 33px;
  height: 33px;
  float: left;
  background-image: url(../images/search-icon.jpg);
  background-repeat: no-repeat;
}
.search-in {
  width: 127px;
  height: 33px;
  outline: none;
  border: 0;
  background-color: #4e76a9;
  float: left;
  font-size: 14px;
  color: #cccccc;
}
.btn1 {
  width: 60px;
  height: 33px;
  float: left;
  color: #fff;
  font-size: 14px;
  background-color: #0d5183;
  outline: none;
  border: 0;
}
.btn2 {
  width: 60px;
  height: 33px;
  background-color: #4e76a9;
  color: #cccccc;
  font-size: 14px;
  outline: none;
  float: right;
  border: 1px solid #183b65;
}
#main {
  width: 1000px;
  height: 2000px;
  margin: 0 auto;
  margin-top: 20px;
}
.nav {
  width: 1000px;
  height: 50px;
}
.nav ul {
  width: 1000px;
  height: 50px;
}
.nav ul li {
  list-style: none;
  width: 125px;
  height: 50px;
  float: left;
  background-image: url(../images/libg1.png);
  position: relative;
}
.nav ul li i{
    position: absolute;
    top: 0;
    left: 45%;
    width: 12px;
    height: 6px;
    background-image: url(../images/bot.png);
}
.nav ul li a {
  width: 125px;
  height: 50px;
  display: block;
  color: #3e6373;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}
.main-con {
  width: 980px;
  height: 330px;
  border: 10px solid #fff;
}
.main-con-left {
  width: 815px;
  height: 330px;
  background-image: url(../images/p1.jpg);
  background-repeat: no-repeat;
  float: left;
  position: relative;
}
.left-bot{
    width: 815px;
    height: 40px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.left-bot p{
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    padding-left: 10px;
}
.left-btn{
    width: 80px;
    height: 12px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.sbtn1{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #386586;
    margin-right: 4px;
    float: left;
}
.sbtn2{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 4px;
    float: left;
}
.sbtn3{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 4px;
    float: left;
}
.sbtn4{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 4px;
    float: left;
}
.sbtn5{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 4px;
    float: left;
}
.main-con-right {
  width: 165px;
  height: 330px;
  float: left;
}
.right-pic1,
.right-pic2,
.right-pic3,
.right-pic4,
.right-pic5 {
  width: 165px;
  height: 66px;
}
.right-pic1 img,
.right-pic2 img,
.right-pic3 img,
.right-pic4 img,
.right-pic5 img {
  width: 165px;
  height: 66px;
}
